@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    height: 100vh;
    place-content: center;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
}
main.card{
    width: min-content;
    display: grid;
    justify-content: center;
    background-color: #fff;
    border-radius: 1rem;
}
.sub-content{
    display: grid;
    grid-template-areas: 'icon plan change';
    background-color: hsl(225, 100%, 98%);
    padding: 1.3rem;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.7rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}
img.hero{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
img.music-img{
    grid-area: 'icon';
}
section.plan-area{
    grid-area: 'plan';
    line-height: 0.7rem;
    padding-right: 6rem;
}
h1{
    text-align: center;
    padding-top: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 1.8rem;
}
h2{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: hsl(224, 23%, 55%);
    font-weight: 300;
    font-size: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    line-height: 1.5rem;
}
h3.plan{
    color: hsl(223, 47%, 23%);
    font-size: 1rem;
    font-weight: 900;
}
a.ch-link{
    grid-area: 'change';
    padding-right: 0.5rem;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}
span.price{
    color: hsl(224, 23%, 55%);
}
content.text-area{
    display: grid;
    justify-content: center;
}
.button{
    width: 200px;
    background-color: hsl(245, 75%, 52%);
    width: 390px;
    border-radius: 0.7rem;
    border: solid hsl(245, 75%, 52%) 1rem;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 0 2 3;
}
section.footer{
    display: grid;
    justify-content: center;
}
h4{
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: hsl(224, 23%, 55%);
}